#sidebar {
  width: 200px;
  background: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Full viewport height */
  position: sticky; /* Sticks to the viewport when scrolling */
  top: 0; /* Ensures it stays at the top */
  padding: 20px 10px;
  overflow-y: auto; /* Adds scroll if the content is too long */
}

.sidebar-top {
  padding: 20px;
  text-align: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.user-circle img {
  width: 100%;
  height: auto;
}

.user-name {
  font-size: 16px;
  color: #fff;
  padding: 10px;
}

.sidebar-nav {
  padding-top: 20px;
  padding-left: 20px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.sidebar-nav li {
  margin-bottom: 20px;
}

.sidebar-nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px; /* Add rounded corners to links */
}

.sidebar-nav li a:hover {
  background-color: #615e5e;
}

.sidebar-bottom {
  padding: 20px;
  text-align: center;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button:hover {
  text-decoration: underline;
}

.logout-icon {
  margin-right: 10px;
  font-size: 18px;
}
