/* 
@import 'bootstrap/dist/css/bootstrap.min.css';

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #e8e8e8;
}

.container {
  background: #fafafa;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  padding: -120px -140px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  height: 350px;
}

.login {
  display: flex;
  align-items: flex-start; 
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  color: rgb(4, 7, 8);
}

.logo {
  width: 150px;
  height: auto;
  background-color: transparent;
}

.form {
  margin-top: 10px;
}

.inputContainer {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.inputIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 50%; 
  background: #e8e8e8;
  border: none;
  padding: 15px 20px 15px 50px;
  border-radius: 10px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.input::placeholder {
  color: rgb(170, 170, 170);
}

.input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.forgotLink {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.login-button {
  display: block;
  width: 40%; 
  font-weight: bold;
  background: linear-gradient(to right, #6366f1, #3b82f6);
  color: white;
  padding-block: 10px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}


.custom-container .input {
  width: 50%; 
}

.custom-container .login-button {
  width: 40%; 
} */



/* Login.css */

.input-group-text svg {
  margin-right: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.container {
  background: #fff;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px; /* Added curved border */
  box-shadow:  rgba(133, 189, 215, 0.878) 0px 30px 30px -20px;
  padding: 20px;
  max-width: 400px; /* Ensures a reasonable width */
  width: 100%; /* Full width to accommodate responsiveness */
}

/* rgba(133, 189, 215, 0.878) 0px 30px 30px -20px; */